@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="mainDes">
	<div class="logoCnt" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: yellow">
		<img src="~/images/sti.png" style="height: 70px; float: left" /><h1 class="display-4" style="padding-left: 100px">Alaminos</h1>
	</div>
	<p class="menuTabs" id="genericBB" onclick="window.location.href='@Url.Page("/Index")'"><= Back</p>

</div>


<h1>@ViewData["Title"]</h1>
<p>
	This website is for thesis purposes only.  Copying and duplicating codes is allowed <br />
	as long as it would not be used to copyright.
</p>